*{
    margin: 0;
}

.header{
    background-color:#11750c;
    display: flex;
    flex-direction: row;


}

.logo_header{
    display: flex;
    height: 200px;
    width: 200px;
}

.titulo_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    font-family: 'Arial Narrow Bold';
    color: white;
    margin-left: 550px;
}

.main_content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main_content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;

}

.img{
    width: 250px;
    height: 250px;
    border: solid black 1px;
    margin-top: 10px;
    margin-bottom: 15px;
}

